.navbar {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
  padding-right: 0px;
  height: 63px; }
  .navbar .container-fluid {
    text-align: left;
    -ms-flex-pack: end;
    justify-content: end; }
    .navbar .container-fluid .btn-round {
      height: 38px;
      min-width: 38px;
      width: 38px;
      padding: 0;
      font-size: 15px;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-pack: center;
      justify-content: center;
      overflow: hidden;
      position: relative;
      line-height: normal; }
      .navbar .container-fluid .btn-round i, .navbar .container-fluid .btn-round i.nc-icon {
        position: relative;
        transform: initial;
        position: relative;
        left: 0;
        top: 0; }
    .navbar .container-fluid > .navbar-wrapper {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
      align-items: center; }
      .navbar .container-fluid > .navbar-wrapper .breadcrumb {
        margin: 0;
        background: none;
        font-size: 11px; }
        .navbar .container-fluid > .navbar-wrapper .breadcrumb > li {
          display: -ms-inline-flexbox;
          display: inline-flex;
          -ms-flex-align: center;
          align-items: center; }
          .navbar .container-fluid > .navbar-wrapper .breadcrumb > li a {
            color: #51cbce; }

.sidebar .logo a.simple-text {
  text-transform: initial; }

.sidebar .logo a.logo-mini {
  opacity: 1;
  margin-left: 15px; }

.sidebar .user .info > a {
  line-height: 24px; }

.btn.btn-icon, .navbar .navbar-nav > a.btn.btn-icon {
  height: 28px;
  min-width: 28px; }
  .btn.btn-icon:not(.btn-footer) i, .btn.btn-icon:not(.btn-footer) .fa, .btn.btn-icon:not(.btn-footer) .fas, .btn.btn-icon:not(.btn-footer) .far, .btn.btn-icon:not(.btn-footer) .fal, .btn.btn-icon:not(.btn-footer) .fab, .btn.btn-icon:not(.btn-footer) .nc-icon, .navbar .navbar-nav > a.btn.btn-icon:not(.btn-footer) i, .navbar .navbar-nav > a.btn.btn-icon:not(.btn-footer) .fa, .navbar .navbar-nav > a.btn.btn-icon:not(.btn-footer) .fas, .navbar .navbar-nav > a.btn.btn-icon:not(.btn-footer) .far, .navbar .navbar-nav > a.btn.btn-icon:not(.btn-footer) .fal, .navbar .navbar-nav > a.btn.btn-icon:not(.btn-footer) .fab, .navbar .navbar-nav > a.btn.btn-icon:not(.btn-footer) .nc-icon {
    transform: translate(-12px, -8px); }

.modal .modal-content > .modal-body {
  padding: 20px; }
  .modal .modal-content > .modal-body > h3 {
    margin-top: 0; }

.card-filter {
  padding: 10px 15px; }

.form-with-submit-icon {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  max-width: 200px;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  .form-with-submit-icon > .btn {
    margin: 0;
    margin-left: 10px; }

.no-margin {
  margin: 0 !important; }

.centered-flex {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center; }

.bottom-right-flex {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: end;
  align-items: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.inline-block {
  display: inline-block; }

/*# sourceMappingURL=stampede-sass.css.map */

/*# sourceMappingURL=stampede.css.map */
