@import 'paper-dashboard/variables';
.navbar {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 0px;
	padding-right: 0px;
	height: 63px;

	.container-fluid {
		text-align: left;
		justify-content: end;
		.btn-round {
			height: 38px;
			min-width: 38px;
			width: 38px;
			padding: 0;
			font-size: 15px;
			display: flex;
			align-items: center;
			justify-content: center;
			overflow: hidden;
			position: relative;
			line-height: normal;
			i, i.nc-icon {
				position: relative;
				transform: initial;
				position: relative;
				left: 0;
				top: 0;
			}
		}
		> .navbar-wrapper {
			display: flex;
			align-items: center;

			.breadcrumb {
				margin: 0;
				background: none;
				font-size: 11px;

				> li {
					display: inline-flex;
					align-items: center;

					a {
						color: $primary-color;
					}
				}
			}
		}
	}
}

.sidebar {
	.logo {
		a.simple-text {
			text-transform: initial;
		}
		a.logo-mini {
			opacity: 1;
			margin-left: 15px;
		}
	}
	.user {
		.info {
			> a {
				line-height: 24px;
			}
		}
	}
}

.btn.btn-icon, .navbar .navbar-nav > a.btn.btn-icon {
	height: 28px;
	min-width: 28px;
	&:not(.btn-footer) {
		i, .fa, .fas, .far, .fal, .fab, .nc-icon {
			transform: translate(-12px, -8px);
		}
	}
}

.modal 	{
	.modal-content {
		> .modal-body {
			padding: 20px;
			> h3 {
				margin-top: 0;
			}
		}
	}
}
.card-filter {
	padding: 10px 15px;
}
.form-with-submit-icon {
	display: flex;
	align-items: center;
	max-width: 200px;
	justify-content: flex-end;

	> .btn {
		margin: 0;
		margin-left: 10px;
	}
}

.no-margin {
	margin: 0 !important;
}

.centered-flex {
	display: flex;
	align-items: center;
}
.bottom-right-flex {
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
}
.inline-block {
	display: inline-block;
}